<div class="article">
  <div class="left-section">
    <span class="votes-count">3</span>
    <span class="points">points</span>
  </div>
  <div class="right-section">
    <div class="article-header">
      <h3 class="title">Angular.js</h3>
      <a href="" class="description">(angular.io)</a>
    </div>

    <div class="votes">
      <div class="up-vote">
        <img src="../../assets/images/outline_expand_less_black_24dp.png" />
        <span>up-vote</span>
      </div>
      <div class="down-vote">
        <img src="../../assets/images/outline_expand_more_black_24dp.png" />
        <span>down vote</span>
      </div>
    </div>
  </div>
</div>
